<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProyectoExpediente">

        <!-- LoginActivity como pantalla de inicio -->
        <activity android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Declarar MainActivity aquí -->
        <activity android:name=".MainActivity" />

        <!-- Registrar RegisterActivity también -->
        <activity android:name=".ui.register.RegisterActivity" />
        <!-- Registrar RegistrarMateriaActivity también -->
        <activity android:name=".RegistrarMateriaActivity" />
        <!-- Registrar VerMateriasActivity también -->
        <activity android:name=".VerMateriasActivity" />

    </application>

</manifest>